body {
    background-color: aliceblue;
  }
  
  h1 {
    color: blue;
    text-align: center;
  }

  p.main {
    font-size: 2em;
    color:brown;
    font-style: italic;
  }

  p.sub {
    font-size: 3em;
    font-style: italic;
  }